*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-size: 2.8rem; }

h3 {
  font-size: 1.55rem; }

h4 {
  font-size: 1.2rem; }

p {
  margin: 0; }

.heading {
  margin-top: 3rem; }

.sidebar-title {
  font-size: 2.2rem; }

.music-genre-title {
  font-size: 1.6rem; }

.btn {
  padding: 1.2rem 4rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid #d4d6d8;
  border-radius: 6px; }

.container {
  max-width: 1349px;
  margin: 0 auto; }

.hero-section {
  width: 100%;
  height: 63rem;
  display: flex; }
  .hero-section img {
    width: 100%; }
  .hero-section_1 {
    width: 50%;
    background-color: purple; }
  .hero-section_2 {
    width: 50%;
    display: flex; }
    .hero-section_2 .grid-1 {
      width: 50%;
      display: flex;
      flex-direction: column; }
      .hero-section_2 .grid-1_img1 {
        height: 50%;
        background-image: linear-gradient(0deg, rgba(59, 78, 120, 0.45), rgba(59, 78, 120, 0.45)), url("/images/hero-img-1.png");
        background-repeat: no-repeat;
        background-size: contain; }
      .hero-section_2 .grid-1_img2 {
        height: 50%;
        background-image: linear-gradient(0deg, rgba(178, 110, 178, 0.5), rgba(178, 110, 178, 0.5)), url("/images/hero-img-3.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; }
    .hero-section_2 .grid-2 {
      width: 50%;
      background-image: linear-gradient(0deg, rgba(64, 44, 153, 0.5), rgba(64, 44, 153, 0.5)), url("/images/hero-img-2.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 100% 100%;
      background-color: rebeccapurple; }
