$color-primary: #182843;
// $color-primary-dark: #252c34;
// $color-primary-dark-1: #21272e;
// $color-primary-light: #d4d6d8;
// $color-primary-light-1: #3e464e;
// $color-primary-light-2: #7c8085;
// $color-secondary-1: #3aebd6;
$color-secondary: #00589B;
$color-complimentary: #dfdb0c;
// $color-secondary-light: #e5e9e7;
// $color-secondary-dark: #175e56;
$large-width: 80rem;

$text-color: #a7dbc2;



$white: #FCFEFF;
$black: #3B3C3D;
$light-grey: #626364;

$transition-linear: all 0.3s linear;
$transition-ease: all 0.3s ease;

$border-radius: 6px;

$margin-left: 20%;
$margin-medium-top: 64px;
$margin-big-top: 100px;
