.link {
  font-size: 1.6rem;
  color: $color-primary;
}

.link:hover {
  color: $color-secondary;
  transition: 0.8s ease;
}

.active-page {
  color: $color-primary;
  font-weight: 700;
}
