body {
    font-family: 'Mulish', sans-serif;
    color: $white;
}

.container {
    max-width: 1349px;
    margin: 0 auto;
}
.hero-section {
    width: 100%;
    height: 62rem;
    display: flex;

    img {
        width: 100%;
    }

    &_1 {
        position: relative;
        color: $white;
        width: 60%;
        background-color: $color-primary;

        .heading-body {
            position: absolute;
            margin-left: 18.15%;;
            top: 48%;
            padding-right: 2rem;
          }
    }

    &_2 {
        width: 50%;
        display: flex;
        
        .grid-1 {
            width: 50%;
            display: flex;
            flex-direction: column;

            &_img1 {
                height: 50%;
                background-image: linear-gradient(0deg, rgba(59, 78, 120, 0.45), rgba(59, 78, 120, 0.45)), url('/images/hero-img-1.png');
                background-repeat: no-repeat;
                background-size: contain;
            }

            &_img2 {
                height: 50%;
                background-image: linear-gradient(0deg,rgba(178, 110, 178, 0.5), rgba(178, 110, 178, 0.5)), url('/images/hero-img-3.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        .grid-2 {
            width: 50%;
            background-image: linear-gradient(0deg, rgba(64, 44, 153, 0.5), rgba(64, 44, 153, 0.5)), url('/images/hero-img-2.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% 100%;
            
        }
    }
}

.body-section-container {
    margin: 0 140px;
    color: $black;
}

.benefit {
    margin-top: $margin-medium-top;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-wrap: nowrap;

    &_card {
        display: flex;

        &-icon {
            align-self: center;

        }

        &_text {
            
            &-title {
                font-weight: 700;
                font-size: 1.9rem;
            }

            &-desc {
                font-size: 1.6rem;
                color: $light-grey;
                
            }
        }
    }
}

// footer-styling
